<%- include('partials/header', {title: 'Index'}) %>

<div class="mt-5">
    <a href="/signup" class="btn btn-primary">Sign up</a>
    <a href="/login" class="btn btn-secondary">Log in</a>
</div>

<%- include('partials/footer') %>
